<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>NanoTwitter</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand mr-auto mr-lg-0" href="#">Nanotwitter</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <% if current_user != nil %>
            <a class="nav-link" href="/users/<%= current_user %>/timeline">Home <span class="sr-only"></span></a>
          <% else %>
            <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
          <% end %>
        </li>

        <li class="nav-item">
          <% if current_user != nil %>
           <a class="nav-link" href="/users/<%= current_user %>" >Profile</a>
          <% else %>
            <a class="nav-link" href="#" >Profile</a>
          <% end %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Notifications</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark mx-1 my-sm-0" type="submit">Search</button>
      </form>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-info mx-1 my-sm-0" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Tweet</button>
      </form>
      <form class="form-inline my-2 my-lg-0" action='/logout' method='post'>
        <button class="btn btn-outline-danger mx-1 my-sm-0" type="submit">Logout</button>
      </form>
    </div>
  </nav>

  <div class="d-flex justify-content-center mt-5 pt-5">
    <%= yield %>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="content" name="content">Tweet something new!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="col well">
          <form method="POST" action="/tweet/create">
            <textarea class="form-control my-2" id="text" name="text" placeholder="Type in your message" rows="5"></textarea>
            <h6 class="pull-right" id="count_message"></h6>
            <button class="btn btn-info my-2" type="submit" value="Tweet">Tweet!</button>
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

<script type="text/javascript">
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })

    //Number of characters in the tweet
    var text_max = 280;
    $('#count_message').html(text_max + ' remaining');

    $('#text').keyup(function () {
        var text_length = $('#text').val().length;
        var text_remaining = text_max - text_length;

        $('#count_message').html(text_remaining + ' remaining');
    });
</script>