<h4>All Followers </h4>
<%@user.followers.each do |f|%>
  <li>
    Name: <%= f.username%>
    Email: <%= f.email %>
    <form action='/follows/unfollow/<%=f.username %>' method='post'>
      <button type='submit' class='btn btn-primary'>Unfollow</button>
    </form>
  </li>
<% end %>