<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Following tweets</h6>
  <% @following_tweets.each do |t| %>
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@<%= t.user_id %></strong>
        <%= t.content.to_s %>
      </p>
    </div>
<<<<<<< HEAD
    <% end %>
    <small class="d-block text-right mt-3">
      <a href="#">Show more tweets</a>
    </small>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Trending</h6>
    <% mock_user_tweets.each do |t| %>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@<%= mock_user.username %></strong>
          <%= t.content.to_s %>
        </p>
      </div>
    <% end %>
    <small class="d-block text-right mt-3">
      <a href="#">Show more trending tweets</a>
    </small>
  </div>
</main>
=======
  <% end %>
  <small class="d-block text-right mt-3">
    <a href="#">Show more tweets</a>
  </small>
</div>
>>>>>>> aa084e4d39cb399ef0422da2b63fff96b0950f43
