<h4>All Users </h4>
<ol>
  <% @users.each do |u|%>
    <li>
      Name: <%= u[:Username]%>
      Email: <%= u[:Email] %>
      Username: <%= u[:Username] %>
      <form action='/follows/follow/<%= u[:Username] %>' method='post'>
        <button type='submit' class='btn btn-primary'>Follow</button>
      </form>
    </li>
  <% end %>
</ol>