
<h2>Sign Up Now with NanoTwitter and Enjoy! </h2>
<form method="POST" action="/signup">
  <p>Email: <input type="text" name="email"></p>
  <p>username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <p>Confirm password: <input type="text" name="confm_password"></p>
  <input type="submit">
  </form>
